In [51]:
EXPERIMENT 10
STUDY OF PANDAS LIBRARY IN PYTHON
NIKUNJ DEEP UPADHYAY
ENTC B1
25070123081

SyntaxError: invalid syntax (ipython-input-2240630835.py, line 1)

In [ ]:
import pandas as pd

s= pd.Series([10,20,30,40])
print(s)

In [ ]:
#CREATE DATAFRAME
data = {
    "NAME":["A","B","C"],
    "MARKS":[85,90,78]
}
df = pd.DataFrame(data)
print(df)

In [52]:
# FIND THE STRUCTURE OF THE DATAFRAME
d=df.shape
print(d)

(3, 2)

In [53]:
f=df.ndim
print(f)

2

In [54]:
ss=df.size
print(ss)

6

In [55]:
# DISPLAY COLUMN NAMES
c=df.columns
print(c)

Index(['NAME', 'MARKS'], dtype='object')

In [56]:
dd=df.dtypes
print(dd)

NAME     object
MARKS     int64
dtype: object

In [57]:
n=df["NAME"]
print(n)

0    A
1    B
2    C
Name: NAME, dtype: object

In [58]:
m=df["MARKS"]
print(m)

0    88
1    90
2    78
Name: MARKS, dtype: int64

In [59]:
#Access name of first row
df = pd.DataFrame(data)
print(df)
df.loc[0,"NAME"]

  NAME  MARKS
0    A     85
1    B     90
2    C     78

'A'

In [60]:
#Access ELEMENTS
df = pd.DataFrame(data)
print(df)
print(df.loc[0,"NAME"])
print(df.iloc[2,1])

  NAME  MARKS
0    A     85
1    B     90
2    C     78
A
78

In [61]:
# ADD A NEW COLUMN
df["Grade"]=["First Class","Distinction","Second Class"]
print(df)

  NAME  MARKS         Grade
0    A     85   First Class
1    B     90   Distinction
2    C     78  Second Class

In [62]:
#Update Data in DataFrame
#Change marks of student A to 88.

df.iloc[0,1]=88
print(df)

  NAME  MARKS         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class

In [78]:
#Delete a column
# Re-add the 'Grade' column to ensure it exists for deletion demonstration
# This addresses the KeyError: "['Grade'] not found in axis" because df currently lacks 'Grade'.
# Assuming df has 3 rows based on its current state (NAME, MARKS)
df["Grade"]=["First Class","Distinction","Second Class"]

df1=df.drop("Grade",axis=1)
print(df)
print(df1)

  NAME  MARKS         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class
  NAME  MARKS
0    A     88
1    B     90
2    C     78

In [73]:
#Perform Basic Stastical Analysis
mean1=df["MARKS"].mean()
mean1

np.float64(85.33333333333333)

In [74]:
min1=df["MARKS"].min()
min1

78

In [75]:
max1=df["MARKS"].max()
max1

90

In [76]:
#DISPLAY STUDENTS SCORING MORE THAN 80
df[df["MARKS"]>80]

  NAME  MARKS
0    A     88
1    B     90